@import "../../../styles/global";


 .heroesList {
    position: fixed;
    top: 100px;
    width: calc(100% - 60px);
    height: calc(100% - 115px);
    margin: 0px 20px;
    padding: 10px;
    background: $primary-background-color;
    @include border-radius(30px);
}