<div class="heroDetail" *ngIf="hero">
    <div class="back" (click)="back()">
        Regresar
    </div>
    <img class="image" src="{{hero._picture}}">
    <div class="oldValues">
        <span class="title">Datos del Heroe</span>
        <span class="nickName">{{hero._nickname}}</span>
        <span class="Name">{{hero._name}}</span>
        <span class="tall">{{hero._height | mt}}</span>
        <span class="linkImage">{{hero._picture}}</span>
    </div>
    <div class="newValues">
        <span class="title">Editar Heroe</span>
        <input class="nickName" type="text" placeholder="Nick Alias" [(ngModel)]="newHero._nickname">
        <input class="Name" type="text" placeholder="Name" [(ngModel)]="newHero._name">
        <input class="tall" type="number" placeholder="Tall" [(ngModel)]="newHero._height">
        <input class="linkImage" type="text" placeholder="Picture" [(ngModel)]="newHero._picture">
    </div>
    <div class="btnOk" (click)="saveChanges()"> Guardar Cambios </div>
</div>