@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin font($color, $fontSize, $fontWeight) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin flex-parent($direction, $alignContent, $alignItems, $justifyContent, $flexWrap) {
    display: flex;
    flex-direction: $direction;
    align-content: $alignContent;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-wrap: $flexWrap;
}

@mixin flex-child($flex-grow, $flex-shrink, $flex-basis) {
    flex: $flex-grow $flex-shrink $flex-basis;
}

@mixin shadow() {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}