@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin background-color($color) {
    background-color: $color;
}

@mixin font($color, $fontSize, $fontWeight) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin flex-parent($direction, $alignContent, $alignItems, $justifyContent, $flexWrap) {
    display: flex;
    flex-direction: $direction;
    align-content: $alignContent;
    align-items: $alignItems;
    justify-content: $justifyContent;
    flex-wrap: $flexWrap;
}

@mixin flex-child($flex-grow, $flex-shrink, $flex-basis) {
    flex: $flex-grow $flex-shrink $flex-basis;
}