@import "../styles/global";
body {
    margin: 0;
    padding: 0;
    // background: url('../assets/images/background.jpg');
    background: url('../assets/images/marvel-avengers-infinity-war.jpg');
    height: 100%;
}